.row
.large-9.push-3.columns
  %h1 Let's get physical!

  #exercises_table
    =render 'exercises'
  / Nav Sidebar
  .large-3.pull-9.columns
    %ul.side-nav
      %li
        %a{:href => "#"} Excerzizezzz
      %li
        %a{:href => "#"} Section 2
      %li
        %a{:href => "#"} Section 3
      %li
        %a{:href => "#"} Section 4
      %li
        %a{:href => "#"} Section 5
      %li
        %a{:href => "#"} Section 6
    %p
      %img{:src => "http://www.ninjakelley.com/wp-content/uploads/2010/12/149033_10150297610830023_610660022_15502187_1617806_n.jpg"}/